SECRET_KEY=MUDE-PARA-UMA-CHAVE-SECRETA-GERADA
DEBUG=False


ALLOWED_HOSTS=exemplo.com,www.exemplo.com


GEMINI_API_KEY=


POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=postgres
POSTGRES_PORT=5432


RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
CELERY_BROKER_URL=amqp://USER:SENHA@rabbitmq:5672//
CELERY_RESULT_BACKEND=rpc://

DJANGO_SUPERUSER_USERNAME=savi
DJANGO_SUPERUSER_PASSWORD=savi123
DJANGO_SUPERUSER_EMAIL=savi@gmail.com

# --- Segurança HTTPS (recomendado com nginx + TLS) ---
# SECURE_SSL_REDIRECT=True
# SESSION_COOKIE_SECURE=True
# CSRF_COOKIE_SECURE=True
