amqp==5.3.1
asgiref==3.12.1
billiard==4.2.4
celery==5.5.3
click==8.4.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
dj-database-url==2.3.0
Django==6.0.7
flower==2.0.1
gunicorn==23.0.0
humanize==4.16.0
kombu==5.5.4
packaging==26.2
pillow==12.3.0
prometheus_client==0.26.0
prompt_toolkit==3.0.53
psycopg==3.2.13
psycopg-binary==3.2.13
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2026.3.post1
PyYAML==6.0.3
six==1.17.0
sqlparse==0.5.5
tornado==6.5.7
typing_extensions==4.16.0
tzdata==2026.3
tzlocal==5.4.4
vine==5.1.0
wcwidth==0.8.2
whitenoise==6.12.0
